body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: white;
    
    
}

/*Header start*/
header{
    width:100%;
    background-color:white;
    color:green;
    display: flex;

}

.logo img{
    width:100px;
    height: 100px;
    border-radius: 10px;
    margin:0 auto;
    padding:2px;
    
    
    
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px ;
    padding:10px;


}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.navbar ul{
    list-style: none;
    

}
.navbar ul li{
    background-color:white;
    width:200px;
    border:1px solid #fff;
    height:50px;
    line-height: 50px;
    text-align: center;
    float:left;
    color:black;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    

}
.navbar ul li a{
    text-decoration: none;
    color: black;
    text-align: center;

}
.navbar ul li:hover{
    background-color:cyan;
    transition: all ease-in 0.5s;


}
.navbar ul ul {
    display: none;
    flex-wrap: wrap;
}
.navbar ul li:hover > ul {
    display: block;
    
}

/*Header End*/

/*Middle Start*/
form{
    text-align:center;
    margin-left: 100px ;
    padding: 2px;
    color:deeppink;
    font-weight: bold;
    text-shadow: 0 0 5px white;
    font-style:normal;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.formD{
    width:1100px;
    height: 300px;
    background-position: center;
    margin:0 auto;
    
    border-radius: 10px;
    background-image: url(https://img.freepik.com/free-vector/high-speed-train-concept-illustration_114360-17150.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703894400&semt=ais);
    background-repeat: no-repeat;
    
    

}

.search{
    width:800px;
    height:30px;
    background-color: green;
    color:white;
    text-align:center;
    padding-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border-left: 20px;
    background-position: center;
    margin:0 auto;
    
    
    

}
.search:hover{
    background-color: cornflowerblue;
    
}

div img{
    margin:0 auto;
    width:60px;
    padding-left: 200px;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
    
    
    
}
/*Middle End*/

/*Footer STart*/
footer{
    left: 0;
    bottom: 0;
    text-align: center;
    background-color:rgb(59, 56, 56);
    width:100%;
    color:white;
    
}
.foot h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    

}
.text p{
    width:600px;
    text-align: center;
    margin:0 auto;
    position: relative;
    top: -30;

}
.icon i{
    font-size: 45px;
    position: relative;
    top:-20;
    
}

/*Footer End*/

/*Mobile view*/
@media (max-width:1000px){
    .formD{
        width:358px;
    }
    .search{
        width:293px;
    }
    header{
        width:100%;
    }
footer{
    width:100%;
}
.text p{
    width:412px;
}


}
